body
{
    background-color: #222;
    color: #25AE3A;
    
    background-image: url('bg.jpg');
    background-position: center;
    background-position: cover;
    background-attachment: fixed;
    
    font-family: 'Aldrich', sans-serif;
}

.page-container
{
    margin-top: 50px;
    margin-bottom: 50px;
    
    border: 1px solid #25AE3A;
    
    background-color: black;
}

input
{
    border: 2px solid #25AE3A !important;
    background-color: #222 !important;
    
    color: #6DE675 !important;
}

#decrypt
{
    background-color: #25AE3A !important;
    color: black !important;
    
    font-weight: bold;
}

h1, h2, h3
{
    color: #6DE675;
    font-family: 'Aldrich', sans-serif;
}